[Unit]
Description=Run ShareItToo backup every day

[Timer]
OnCalendar=*-*-* 02:15:00 UTC
RandomizedDelaySec=20m
Persistent=true
Unit=shareittoo-backup.service

[Install]
WantedBy=timers.target
